body{
    margin:0;
    padding:0;
}

#face {
    background: yellow;
    padding:30px;
    width: 380px;
    height:500px;
}

#lefteye {
    background:white;
    width: 110px;
    height: 110px;
    padding:30px;
}

#leftpupil {
    background: black;
    height:60px;
    width:60px;
}
#righteye {
    background:white;
    position:relative;
    height:110px;
    width:110px;
    padding:30px;
    position:relative;
    top:-170px;
    left: 190px;
}

#rightpupil {
    background: black;
    height:60px;
    width:60px;
}

#mouth {
    background:black;
    height:200px;
    position:relative;
    top:-100px;
    height: 210px;
    padding: 30px 20px;
}

#tooth1 {
    background:white;
    width: 30px;
    height: 30px;
}

#tooth2 {
    background:white;
    width: 30px;
    height: 30px;
    position:relative;
    top:-30px;
    left:50px;
}

#tooth3 {
    background:white;
    width: 30px;
    height: 30px;
    position:relative;
    top:-60px;
    left:100px;
}
#tooth4 {
    background:white;
    width: 30px;
    height: 30px;
    position:relative;
    top:-90px;
    left:150px;
}
#tooth5 {
    background:white;
    width: 30px;
    height: 30px;
    position:relative;
    top:-120px;
    left:200px;
}
#tooth6 {
    background:white;
    width: 30px;
    height: 30px;
    position:relative;
    top:-150px;
    left:250px;
}
#tooth7 {
    background:white;
    width: 30px;
    height: 30px;
    position:relative;
    top:-180px;
    left:300px;
}

#tongue {
    background: red;
    height: 100px;
    width: 150px;
    position:relative;
    top: -210px;
    left: 110px;
}

#thing {
    background: black;
    height:80px;
    width: 10px;
    position:relative;
    left: 70px;
}